data/
.venv/
log/
.env
.vscode

**/__pycache__/
cogs/__pycache__

# Python packaging
*.egg-info/

#mypy cache
*.mypy_cache

#petest_cache
*.pytest_cache

#.tox env
*.tox
*.coverage

tree.txt

build

#Ruff
.ruff_cache
